<div class="container teambox ">

    <h3 class="list-group-item title">Angular Teams</h3>
    <div ng-repeat="task in tasks" class="list-group-item">
        <input type="email" ng-model="team.location" class="team"/>
        <input type="text" ng-model="team.Date" class="team"/>
        <input type="text" ng-model="team.teamA" class="team"/>
        <input type="text" ng-model="team.teamB" class="team"/>
    </div>
    <div class="list-group-item" ng-show="firstname">
        <input type="text" class="team" placeholder="{{location}}" disabled="true" />
        <input type="text" class="team" placeholder="{{Date}}" disabled="true" />
        <input type="text" class="team" placeholder="{{teamA}}" disabled="true" />
        <input type="text" class="team" placeholder="{{teamB}}" disabled="true" />
    </div>
    <form ng-submit="addTeams()" class="list-group-item">
        <input type="text" ng-model="location" />
        <input type="text" ng-model="Date" />
        <input type="text" ng-model="teamA" />
        <input type="text" ng-model="teamB" />
        <input type="submit" />
     </form>
</div>
